html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

main{
  flex: 1 0 auto;
  min-height: 100%;
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1055px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    margin: 0 15px;
  }
  button {
    background-color: #2e2e2e;
    border: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    padding: 0;
    font-size: 0;
  }
  li.slick-active {
    button {
      background-color: orange;
    }
  }
}
