html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1055px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots li {
  margin: 0 15px;
}

.slick-dots button {
  background-color: #2e2e2e;
  border: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  padding: 0;
  font-size: 0;
}

.slick-dots li.slick-active button {
  background-color: orange;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.header__btn {
  background-color: transparent;
  border: 1px solid;
  border-radius: 50%;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
}

.header__btn img {
  margin: 0 auto;
  max-height: 20px;
}

.btn__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 500px;
  width: 400px;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  z-index: 1;
  right: 0;
  top: 60px;
}

.btn__modal h1 {
  font-size: 24px;
}

.btn__modal p {
  font-size: 16px;
}

.btn__modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cartProductImg {
  width: 20%;
  margin: 0px 15px;
}

.cartProductImg img {
  max-width: 100%;
}

.cartMainInfo {
  display: inherit;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 15px;
}

.cartAmountSelect {
  display: inherit;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 15px;
  min-width: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 2px solid #C4C4C4;
}

.modal-container-top {
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid #C4C4C4;
}

.modal-container-footer {
  width: 100%;
}

.cartTotalAmount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #EAF6FF;
  border-bottom: 2px solid #C4C4C4;
}

.top__inner {
  position: relative;
}

.top__slider-title {
  color: white;
  font-size: 72px;
  line-height: 84px;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  font-weight: normal;
}

.colortext {
  color: #000000;
}

.add-btn {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #0e49b5;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50px;
  width: 150px;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 0px;
  color: white;
}

.inptutBox {
  width: 100%;
}

.filtersOptionBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.searchInput {
  position: relative;
}

.searchInput input {
  width: 100%;
  height: 60px;
  border: 1px solid #dddada;
  color: #767272;
  border-radius: 5px;
  padding: 0 0 0 60px;
  margin: 20px 0;
  -webkit-box-shadow: 2px 2px 2px 2px;
          box-shadow: 2px 2px 2px 2px;
  min-width: 350px;
}

.searchInput-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 30px;
  right: 20px;
  text-align: center;
}

.searchInput-filter {
  padding-right: 10px;
}

.searchInput-filter__btn {
  background-color: transparent;
  border: 1px solid;
  border-radius: 50%;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
}

.searchInput-filter__btn img {
  margin: 0 auto;
  max-height: 20px;
}

.searchInput-filter__btn:focus {
  background-color: #67f1e6;
}

.searchInput-seting__btn {
  background-color: white;
  border: 1px solid;
  border-radius: 50%;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
}

.searchInput-seting__btn img {
  margin: 0 auto;
  max-height: 20px;
}

.searchInput-seting__btn:focus {
  background-color: #67f1e6;
}

.searchInput .icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40px;
  left: 20px;
  text-align: center;
  color: #767272;
}

.sortSelect {
  display: none;
  position: absolute;
  top: 56px;
  left: -46px;
  min-height: 100%;
  width: 160px;
  z-index: 2;
}

.sortSelect-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.filters {
  display: none;
  width: 325px;
  min-height: 100vh;
  max-height: 350px;
  border: 1px solid #dddada;
  -webkit-box-shadow: 0 0 10px #dddada;
          box-shadow: 0 0 10px #dddada;
  border-radius: 5px;
  margin-right: 30px;
  margin-bottom: 30px;
  font-size: 12px;
}

.filters--active {
  display: block;
}

.filters_block {
  border-bottom: 1px solid #dddada;
}

.filters_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px;
  font-size: 18px;
}

.filters_container {
  padding: 5px 10px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filters_container--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #dddada;
}

.filters_container label {
  display: block;
  margin: 0px 10px;
}

.container__card {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(-230%);
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  width: 300px;
  height: 480px;
  border: 1px solid #dddada;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #dddada;
          box-shadow: 0 0 10px #dddada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.card-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  text-align: center;
}

.card-img {
  width: 60%;
  height: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.card-btn {
  cursor: pointer;
  color: #fff;
  vertical-align: middle;
  display: inline-block;
  padding: 15px 25px;
  background-color: #0e49b5;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  margin-top: 10px;
}

.card-footer {
  height: 80px;
  background-color: #dae2ea;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 20px 25px 3px 45px;
}

.card__avarage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 25px 20px 45px;
}

.aviable {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 28px;
}

.infText {
  font-size: 14px;
  line-height: 16px;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__container {
  z-index: 3;
  width: 1024px;
  height: 500px;
  background: #fff;
}

.modal__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.modal__img {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__price {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__btn {
  color: #fff;
  vertical-align: middle;
  display: inline-block;
  padding: 15px 25px;
  background-color: #0e49b5;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.modal__info {
  width: 40%;
  text-align: center;
  padding: 35px 0;
  border-right: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
}

.modal__img-holder {
  max-width: 250px;
  margin: 0 auto;
}

.modal__img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.modal__reviews {
  max-width: 300px;
  height: 80px;
  background-color: #dae2ea;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

.modal__features {
  padding: 0 calc(100% - 350px);
  text-align: left;
}

.modal__features div {
  line-height: 16px;
  color: #767272;
  margin: 8px 0;
}

.modal__features span:last-child {
  color: #000;
}

.modal__price-value {
  color: #3b3e66;
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
}

.modal__in-stock {
  color: #3b3e66;
  font-size: 18px;
  line-height: 21px;
  margin: 30px 0;
}

.footer__copy {
  background-color: #1f1d1d;
  color: aliceblue;
  text-align: center;
  padding: 15px;
}
/*# sourceMappingURL=style.css.map */