@import "vars";
@import "reset";
@import "global";

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  &__btn {
    background-color: transparent;
    border: 1px solid;
    border-radius: 50%;
    min-height: 40px;
    min-width: 40px;
    img {
      margin: 0 auto;
      max-height: 20px;
    }
    cursor: pointer;
  }
}

.btn__modal {
  display: flex;
  position: absolute;
  height: 500px;
  width: 400px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid black;
  border-radius: 15px;
  z-index: 1;
  right: 0;
  top: 60px;
  h1 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.cartProductImg {
  width: 20%;
  margin: 0px 15px;
  img {
    max-width: 100%;
  }
}

.cartMainInfo{
  display: inherit;
  flex-wrap: wrap;
  margin: 0 15px;
}

.cartAmountSelect {
  display: inherit;
  flex-wrap: wrap;
  margin: 0 15px;
  min-width: 70px;
  justify-content: space-between;
}

.modal-container-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-bottom: 2px solid #C4C4C4;
}

.modal-container-top {
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid #C4C4C4;
}

.modal-container-footer {
  width: 100%;
}

.cartTotalAmount{
  display: flex;
  padding: 15px 40px;
  justify-content: space-between;
  background-color: #EAF6FF;
  border-bottom: 2px solid #C4C4C4;
}

.top {
  &__inner {
    position: relative;
  }

  &__slider-title {
    color: rgba(255, 255, 255, 1);
    font-size: 72px;
    line-height: 84px;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    font-weight: normal;
  }
}

.colortext {
  color: #000000;
}

.add-btn {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0e49b5;
  display: inline-flex;
  height: 50px;
  width: 150px;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 0px 0px;
  color: rgba(255, 255, 255, 1);
}

.inptutBox {
  width: 100%;
}
.filtersOptionBox {
  display: flex;
  width: max-content;
}

.searchInput {
  position: relative;
  input {
    width: 100%;
    height: 60px;
    border: 1px solid #dddada;
    color: #767272;
    border-radius: 5px;
    padding: 0 0 0 60px;
    margin: 20px 0;
    box-shadow: 2px 2px 2px 2px;
    min-width: 350px;
  }

  &-btn {
    display: flex;
    position: absolute;
    top: 30px;
    right: 20px;
    text-align: center;
  }

  &-filter {
    padding-right: 10px;
    &__btn {
      background-color: transparent;
      border: 1px solid;
      border-radius: 50%;
      min-height: 40px;
      min-width: 40px;
      img {
        margin: 0 auto;
        max-height: 20px;
      }
      cursor: pointer;
    }
    &__btn:focus {
      background-color: rgb(103, 241, 230);
    }
  }

  &-seting {
    &__btn {
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid;
      border-radius: 50%;
      min-height: 40px;
      min-width: 40px;
      img {
        margin: 0 auto;
        max-height: 20px;
      }
      cursor: pointer;
    }
    &__btn:focus {
      background-color: rgb(103, 241, 230);
    }
  }
  .icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40px;
    left: 20px;
    text-align: center;
    color: #767272;
  }
}

.sortSelect {
  display: none;
  position: absolute;
  top: 56px;
  left: -46px;
  min-height: 100%;
  width: 160px;
  z-index: 2;
  &-active {
    display: flex;
  }
}

.column {
  display: flex;
  flex-direction: row-reverse;
}

.filters {
  display: none;
  width: 325px;
  min-height: 100vh;
  max-height: 350px;
  border: 1px solid #dddada;
  box-shadow: 0 0 10px #dddada;
  border-radius: 5px;
  margin-right: 30px;
  margin-bottom: 30px;
  font-size: 12px;

  &--active {
    display: block;
  }
  &_block {
    border-bottom: 1px solid #dddada;
  }
  &_header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 18px;
  }

  &_container {
    padding: 5px 10px;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    &--active {
      display: flex;
      border-top: 1px solid #dddada;
    }
    label {
      display: block;
      margin: 0px 10px;
    }
  }
}

.container__card {
  flex-grow: 1;
  box-sizing: border-box;
  width: calc(-230%);
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 300px;
  height: 480px;
  border: 1px solid #dddada;
  border-radius: 10px;
  box-shadow: 0 0 10px #dddada;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  &-body {
    flex-grow: 1;
    position: relative;
    text-align: center;
  }
  &-img {
    width: 60%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  &-btn {
    cursor: pointer;
    color: #fff;
    vertical-align: middle;
    display: inline-block;
    padding: 15px 25px;
    background-color: #0e49b5;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    margin-top: 10px;
  }

  &-footer {
    height: 80px;
    background-color: #dae2ea;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__rate {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 20px 25px 3px 45px;
  }
  &__avarage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px 25px 20px 45px;
  }
}

.aviable {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 28px;
}

.infText {
  font-size: 14px;
  line-height: 16px;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;

  &__container {
    z-index: 3;
    width: 1024px;
    height: 500px;
    background: #fff;
  }

  &__inner {
    display: flex;
    height: 100%;
  }

  &__img {
    width: 30%;
    display: flex;
    align-items: center;
  }

  &__price {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__btn {
    color: #fff;
    vertical-align: middle;
    display: inline-block;
    padding: 15px 25px;
    background-color: #0e49b5;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
  }
}

.modal.active {
  display: flex;
  z-index: 3;
}

.modal__info {
  width: 40%;
  text-align: center;
  padding: 35px 0;
  border-right: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
}

.modal__img-holder {
  max-width: 250px;
  margin: 0 auto;
}

.modal__img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.modal__reviews {
  max-width: 300px;
  height: 80px;
  background-color: #dae2ea;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

.modal__features {
  padding: 0 calc(100% - 350px);
  text-align: left;
}

.modal__features div {
  line-height: 16px;
  color: #767272;
  margin: 8px 0;
}

.modal__features span:last-child {
  color: #000;
}

.modal__price-value {
  color: #3b3e66;
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
}

.modal__in-stock {
  color: #3b3e66;
  font-size: 18px;
  line-height: 21px;
  margin: 30px 0;
}

.footer {
  &__copy {
    background-color: rgb(31, 29, 29);
    color: aliceblue;
    text-align: center;
    padding: 15px;
  }
}
